# Managed by Ansible — CIS 2.4.2

# Reject unknown HTTP hostnames
server {
    listen 80 default_server;
    listen [::]:80 default_server;

    server_name _;

    return 444;
}

# Reject unknown HTTPS hostnames
server {
    listen 443 ssl default_server;
    listen [::]:443 ssl default_server;
    server_name _;

    ssl_reject_handshake on;
}
